.wrapper {
    background-color: red;
    color: white;
  }
  .text2 {
    background-color: green;
  }


  .box {
   width: 150px;
   height: 150px;
   display: inline;
   background: blue;
   margin-right: 50px;
}