.wrapper {
  background-color: red;
  color: white;
}

.box {
 width: 150px;
 height: 150px;
 display: inline-block;
 background: blue;
 margin-right: 50px;
}

.item {
width: 100px;
height: 100px;
border: 1px solid red;
}


.relative {
position: relative;
top: 40px;
left: 45px;
}